@font-face{
    font-family: Berlim Sans FB;

    /*Caso a fonte esteja na mesma pasta*/
    src: url("../includes/fonts/BRLNSB.tff");
}
/*@media screen and (max-width: 600px){
    div.nav2{
        display: none;
    }
    div.nav1{
        display: none;
    }
    div.nav2fixa{
        display: block;
        background-color: rgba(255, 165, 56, 0.8);
        font-weight: bold;
        text-align: justify;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-transform: capitalize;
        font-family: Verdana;
    }
    div.nav1fixa{
    }
    div.barra2{
        font-size: 12px;
    }
}
@media screen and (min-width:600px){
    div.nav1fixa{
        display: none;
    }
    div.nav2fixa{
        display: none;
    }

}*/
h1{
    color: #FF9708;
    font-family: Berlin Sans FB;
    text-transform: capitalize;
}
h6{
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
a{
    color: rgba(0,0,0, 0.5);
    text-align: center;
}
a:hover{
    text-decoration: none;
}

h3.TInfra{
    color: #094478;
    text-align: center;
    font-size: 35px;
    font-family: Berlin Sans FB;
}

h4.TEventos{
    color: #094478;
    text-align: center;
    font-size: 35px;
    font-family: Berlin Sans FB;
}

h5.TEventos{
    color: #094478;
    text-align: center;
    font-size: 25px;
    font-family: Berlin Sans FB;
}

div.botao{
    text-align:center;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    padding-top: 5px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(255, 165, 56, 1);
}

a.botao{
    color: #363636;
    font-family: Franklin Gothic;
    text-decoration: none;
}

h3.title{
    color: rgba(255, 165, 56, 1);
}

p.rodape{
    font-size: 14px;
    text-align: center;
}

p.txtEvt{
    text-align: center;
}
p.textDetalhes{
    color: #363636;
    text-align: justify;
    font-family: Arial;
    height: 0px;
    overflow: hidden;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.capa {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
p.verMais{
    font-size: 28px;
    font-family: Arial;
    font-weight: bold;
    color: lightgrey;
    position: relative;
    left: 10px;
    top: -40px;
    display: none;
    margin-bottom: -42px;
}
.img-responsive {
    margin: 0;
}
article.formu{
    background-size: 100% auto;
    background-image: url("../img/fundos/fundo5T.jpg");
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: bottom left;
    background-color: #e4e1e1;
    padding-bottom: 20px;
}
/*Divs Barras*/
div.barra{
    background-color: rgba(231, 126, 35, 1);
    height: 25px;
    margin-bottom: -5px;
}
div.barra2{
    background-color: rgba(43, 64, 85, 1);
    color: rgba(255,255,255,0.8);
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
/*FIM Divs Barras*/
span.tel{
    color: #073F66;
    font-size: 11pt;
    font-weight: bold;
}
.horizontal-divider{
    height: 1;
    margin: 0.5rem 0;
    overflow: hidden;
    border-right: 1px solid white;
    margin-left: 15px;
    margin-right: 15px;
}
a.pais{
    color: #073F66;
    font-weight: bold;
    font-size: 11pt;
    text-transform: uppercase;
    margin-left: 10px;
}
.txtRodape{
    color: #FF9708;
    font: bold 12pt Arial;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #0f2f46;
}
form.textForm{
    color:rgba(37, 38, 42,0.7);
    font-family: Trebuchet MS, Sans-serif;
    font-weight: bold;
    font-size: 15px;
}
img#img-infra{
    margin: 10px;
}
div#navbarText{
    margin-top: 10px;
    text-align: center;
}

/*Navs Secundarias*/
#navSecundaria{
    background-color: rgba(46, 83, 109, 1);
    text-align: justify;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: capitalize;
    font: normal 15pt Arial;
}
/*FIM Navs Secundarias*/

/*Navs Primarias*/
nav#navPrimaria{ 
    background-color: rgba(245, 155, 46, 1);
    /*background-color: rgba(67, 88, 112, 1);*/
    /*background-color: rgba(231, 126, 35, 1);*/
    /*background-color: rgba(95, 120, 145, 1);*/
}
/*FIM Navs Primarias*/
p#txtDt1{

}
div#rodaNiveis{
    text-align: center;
}
div#rodaLinks{
    text-align: left;
}
div#contNav{
    margin-bottom: -5px;
}
div#contCentro{
}
div#car{
    border: solid 2px #0f2f46;
    border-radius: 15px;
    background-color: #292929;
    margin-top: 60px;
}
div#divicons{
    margin-top: 40px;

}
#iconSolo{
    margin-top: 30px;
}
div#forms{
    padding-left: 100px;
    padding-top: 50px;
}
div#carousel-inner{
    height: 2000px;
}
div#dataFooter{
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
button#btnForm{
    width: 100px;
}
#dropMenu{
    text-align: center;
    background-color: rgba(66, 103, 129, 0.9);
}
#textDropMenu{
    color: whitesmoke;
    font: normal 12pt Arial;
    margin-bottom: 3px;
    text-shadow: 1px 1px 2px #0f2f46;
}
a#textNav{
    color: whitesmoke;
    font: bold 13pt Arial;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #0f2f46;
}
img{
    -webkit-transition: all 0.3s ease-in;
}
img#ftGallery{
    /*border-radius: 10px;*/
}
div#galery{
    margin-top: 200px;
    margin-bottom: 100px;
}
#carouselCaption{
    background-color: rgba(43, 64, 85, 0.8);
    border-radius: 35px;
    margin-bottom: 15px;
}
section#galery{
    background-color: rgba(225, 225, 225, 0.2);
}
footer{	
    width: 100%;
    background-color: rgba(230,230,230, 1);	
}