.rodape {
    width: 100%;
    background-color: rgba(230, 230, 230, 1);
}
.rodape__container{
    color: rgb(95, 95, 95);
    padding-top: 30px;
    padding-left: 50px;
    text-align: start;
    line-height: 1.3;
}
.rodape__box{
    margin-bottom: 30px;
}
.rodape__titulo{
    margin-bottom: 20px;
    font: bold 1.3rem Arial;
    color: #FF9708;
    /*text-shadow: 0.5px 0.5px 1px #3a3a3a;*/
}
.rodape__texto{
    font: normal 14pt Arial;
}

.rodape__links{
    font: normal 14pt Arial;
    margin-left: 10px;
    line-height: 2;
}
.rodape__link{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
a.rodape__link{
    text-decoration: none;
}
.rodape__niveis-texto{
    margin-left: 5px;
    color: #5a5a5a;
}
.rodape__niveis-texto:hover{
    color: #9a9a9a;
}
.rodape__redes{
    align-items: center;
    color: #787878;
    display: flex;
    margin-bottom: 20px;
}
a.rodape__redes{
    text-decoration: none;
}
.rodape__redes:hover{
    color: #787878;
}
.rodape__redes-texto{
    margin-left: 10px;
}
.rodape__redes-texto:hover{
    color: #b1b1b1;
}
.barra {
    background-color: rgba(231, 126, 35, 1);
    height: 25px;
    margin-bottom: -5px;
}
.barra2 {
    background-color: rgba(43, 64, 85, 1);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px 5px 0px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}